/* Container App Page */

.App {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	background-image: linear-gradient(to bottom left, rgba(12.9, 12.9, 12.9, 1), rgba(12.9, 12.9,12.9, 1), rgba(12.9, 12.9, 12.9, .1)), linear-gradient(to top, rgba(12.9, 12.9, 12.9, 1), rgba(12.9, 12.9,12.9, 0), rgba(12.9, 12.9,12.9, 0), rgba(12.9, 12.9, 12.9, 0)), url("https://image.freepik.com/free-vector/flat-question-mark-background_23-2148175263.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	width: 70vw;
	margin: auto;
	margin-top: 5vh;
	min-height: 100vh;
}

.App a {
	text-decoration: none;
	color: black;
}

.center {
	height: 50%;
}

.App2 {
	width: 80vw;
	font-size: 1.5em;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
}

/* Login Page */

.wouldYouRather {
	color: white;
	font-size: 6vw;
	margin: 30px;
	padding: 30px 0 10px;
}

.Login h3 {
	color: white;
	margin: 0;
}

.Login input {
	margin: 1vh;
	border-radius: 5px;
	font-size: 4vh;
	padding: 10px;
	border: none;
}

.Login {
	font-size: 3vh;
	text-align: center;
}

.loginForm {
	font-size: 1.3em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginBtn {
	border-radius: 5px;
	border: none;
	font-size: 4vh;
	height: 8vh;
	color: black;
	width: 310px;
	align-self: center;
}

#signOut {
	position: absolute;
	bottom: 7vh;
	right: 6vw;
}

.passwordBtn {
	margin: 5px 0px 9px;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

.or {
	color: white;
	font-size: 4vh;
	width: 100%;
	text-align: center;
	margin: 3px 0 10px;
}

/* Question Page */

.Question {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 60vh;
	text-align: center;
	padding-top: 60px;
}

.answered {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 90%;
}

.Question h2 {
	color: white;
	font-size: 6vw;
	margin: 0;
	padding: 0 0 30px;

}

.Question h3 {
	color: white;
	font-size: 5vh;
	width: 100%;
	text-align: center;
	margin: 3px 0 6px;

}

.quickPlay {
	height: 35vh;
}

.opt {
	border: none;
	border-radius: 5px;
	font-size: 3vh;
	min-height: 14vh;
	color: black;
	width: 310px;
	align-self: center;
}

#opt1 {
	background-color: #ff4181;
}

#opt2 {
	background-color: #0090f0;
}

.Question .submit {
	background-color: #fbae00;
	border: none;
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	margin: 3vh 0;
	font-size: 1.3em;
}

.Question .backBtn {
	width: 100%;
	padding: 15px;
	border: none;
	border-radius: 5px;
	font-size: 1.3em;
}

/* Dashboard Page */

.Dashboard {
	color: white;
	display: flex;
	text-align: center;
	width: 90vw;
	margin: auto;
}

.polls {
	background-color: #0090f0;
	width: 30vw;
}

#Polls {
	display: flex;
	padding: 10px;
	justify-content: flex-start;
	flex-flow: column wrap;
	max-height: 100vh;
	text-align: center;
	margin: auto;
	font-size: 1.5em;
}

#Polls .nav {
	padding: 0;
	display: flex;
}

#Polls .nav ul {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	padding: 0;
}

#Polls .nav ul li {
	list-style-type: none;
	border: 1px solid white;
	width: 50%;
	padding: 5px;
	border-radius: 5px 5px 0 0;
	border: 1px solid white;
}

#Polls .nav ul li:hover {
	background-color: white;
	color: #0090f0;
}

#Polls .nav ul li:active {
	background-color: black;
	color: white;
}






.pollLists {
	flex-wrap: wrap;
}

.pollList {
	display: flex;
	flex-flow: column wrap;
	margin: 0;
	padding: 0;
	justify-content: flex-start;
}

.pollList button {
	width: 100%;
	border: 1px solid white;
	font-size: .8em;
}

.pollList button:hover {
	background-color: black;
	color: white;
}

.main {
	color: white;
	display: flex;
	flex-flow: column wrap;
	min-height: 95vh;
	width: 60vw;
	overflow: auto;
}

/* main scroll bar */

	/* width */
	::-webkit-scrollbar {
	  width: 3px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	  background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: #888;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #555;
	}

/* --- */

.nav {
}

.Nav {
	display: flex;
	justify-content: space-around;
	z-index: 1;
	padding: 0;
}

.Nav li {
	list-style-type: none;
	border: 1px solid white;
	padding: 3px;
	border-radius: 5px;
	width: 100px;
	background-color: #ff4181;
}


.Nav a {
	color: white;
}

.Nav li:hover {
	color: #ff4181;
	background-color: white;
}

.Nav li:active {
	color: white;
	background-color: black;
}

/* Leaderboard */
.leaders {
	background-color: #fbae00;
	width: 30vw;
}

.Leaderboard {
	display: flex;
	flex-flow: column wrap;
	padding: 0 10px;
	margin: auto;
	font-size: 1.1em;
}

.Leaderboard ul {
	padding: 0;
}

/* user info */

#User_Info {
	display: flex;
	margin: 10px 0;
	font-size: .8em;
	background-color: rgba(250, 250, 250, .8);
	padding: 5px;
	color: black;
}

.avatar {
	width: 3vw;
	height: 3vw;
	align-self: flex-end;
	border: 2px solid #fbae00;
	border-radius: 50%;
	text-align: center;
	align-self: center;
	margin: 0 10px 0 0;
	background-color: white;
}

.name {
	align-self: center;
}

.scores {
	display: flex;
}

.scores h5 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6vw;

}

/* How To */

#HowTo {
	font-size: 1.5em;
	padding: 0px 20px;
	text-overflow: scroll;
}

#HowTo button {
	width: 80%;
	height: 60px;
	border-radius: 5px;
	font-size: .9em;
}


#Add {
	display: flex;
	flex-flow: column wrap;
	font-size: 1.5em;
	padding: 10px;
}

#Add h3 {
	margin: 10px;
}

.add {
	align-self: center;
}


#Add button {
	color: white;
	background-color: #fbae00;
	border: 2px solid white;
	padding: 15px;
	border-radius: 5px;
	margin: 3vh 0;
	font-size: 1.1em;
	width: 310px;
}

#Add button:hover {
	background-color: white;
	color: #fbae00;
	border: 2px solid #fbae00;
}

#Add button:active {
	background-color: inherit;
}